{% ckan_extends %}


{% block package_description %}
  {% if pkg.private %}
    <span class="dataset-private badge badge-inverse pull-right">
      <i class="fa fa-lock"></i>
      {{ _('Private') }}
    </span>
  {% endif %}
  {% if pkg.approval_state == 'pending' %}
    <span style="margin-right: 3px;" class="badge bg-warning pull-right">
      <i class="fa fa-clock"></i>
      {{ _('Pending Approval') }}
    </span>
    {% elif pkg.approval_state == 'rejected' %} 
    <span style="margin-right: 3px;" class="badge bg-danger pull-right">
      <i class="fa fa-times"></i>
      {{ _('Rejected') }}
    </span>
  {% endif %}
  <h1>
    {% block page_heading %}
      {{ h.dataset_display_name(pkg) }}
      {% if pkg.state.startswith('draft') %}
        [{{ _('Draft') }}]
      {% endif %}
      {% if pkg.state == 'deleted' %}
        [{{ _('Deleted') }}]
      {% endif %}
    {% endblock %}
  </h1>
  {% block package_notes %}
    {% if pkg.notes %}
      <div class="notes embedded-content">
        {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
      </div>
    {% endif %}
  {% endblock %}
{% endblock %}

