{% ckan_extends %}

{% block content_action %}
  {% set aw_global = h.get_approvalworkflow_info({}) %}
  {% set aw_active = h.get_org_approval_info(pkg.organization.id) 
    or aw_global.approval_workflow_active == '2'%}
  {% if h.check_access('package_update', {'id':pkg.id }) and aw_active %}
  <div class="dropdown btn-group">
    <a href="#" class="btn btn-primary dropdown-toggle" type="button" id="dropdownExplorer" data-bs-toggle="dropdown" aria-expanded="false">
      {{ _('Dataset Approval') }}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
    <li>{% link_for _('Request Review'),
        named_route='dataset_approval_workflow.request_dataset_review',
        id=pkg.id,
        class_='dropdown-item',
        icon='eye'
        %}
    </li>
    <li>
      {% set aw_pkg = h.get_approvalworkflow_org_info({}, pkg.id) %}
      {% set org_admin = h.is_user_org_admin(aw_pkg['organization_id']) or g.userobj.sysadmin %}
      {% if org_admin %}
          <a class="dropdown-item" href="/dataset/datasetapproval/{{ pkg.id }}">
          <i class="fa fa-check"></i>
          {{ _('Approve Dataset') }}
          </a>
      {% endif %}
    </li>
    </ul>
  </div>
  {% endif %}
  {{ super() }}
{% endblock %}


{% block content_primary_nav %}
  {{ super() }}
  {% if h.show_approval_stream() or g.userobj %}  
    {{ h.build_nav_icon('dataset_approval_workflow.approvalstream', _('Approval Stream'), id=pkg.id, icon='check-square') }}
  {% endif %}
{% endblock content_primary_nav %}