{% ckan_extends %}

    {% set aw = h.get_approvalworkflow_info({}) %}
    {% set aw_pkg = h.get_approvalworkflow_org_info({}, pkg_name) %}
    
    {# this line if organisation admin dataset should not go to review
    set org_admin = h.is_user_org_admin(aw_pkg['organization_id'] or g.userobj.sysadmin)
    #}
    {% set org_admin = g.userobj.sysadmin %}
    
    {% set review_button = false %}
    {% if aw['approval_workflow_active'] == '2' %}
      {% set review_button = true %}
    {% endif %}
    {% if aw['approval_workflow_active'] == '3' and aw_pkg['active'] == true %}
      {% set review_button = true %}
    {% endif %}

    {% if stage %}
      {% block previous_button %}
        <button class="btn btn-default" name="save" value="go-dataset" type="submit">{{ _('Previous') }}</button>
      {% endblock %}
    {% endif %}
    {% block again_button %}
      <button class="btn btn-default" name="save" value="again" type="submit">{{ _('Save & add another') }}</button>
    {% endblock %}
  
  {% if stage %}
    {% block save_button %}
      {% if review_button == true and org_admin == false %}                
      <button class="btn btn-primary" name="save" value="review" type="submit">
        {% block review_button_text %}{{ _('Review') }}{% endblock %}
        {% else %}
      <button class="btn btn-primary" name="save" value="go-metadata" type="submit">
        {% block save_button_text %}{{ _('Finish') }}{% endblock %}
      </button> 
      {% endif %}
    {% endblock %}
  {% else %}
    {% block add_button %}
      {% if review_button == true and org_admin == false %}
          <button class="btn btn-primary" name="save" value="review" type="submit">{{ _('Review') }}</button>
      {% else %}
          <button class="btn btn-primary" name="save" value="go-dataset-complete" type="submit">{{ _('Add') }}</button>
      {% endif %}
    {% endblock %}
  {% endif %}

